newgame
.DS_Store
idea
.idea

prototypes/aam/generated

prototypes/ww1/json/generated*
prototypes/ww1/generated

prototypes/ww2/jsons/generated*
prototypes/ww2/generated

prototypes/greywolf/generated

prototypes/ukraine/generated

prototypes/generic/generated

TemplateModule/images/*.png
TemplateModule/images/*.gif

index/data.txt
bgg_cards/img
bgg_cards/generated

bgg_market/bgg_market
*.exe
